html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
}
a:visited {
  color: rgba(255, 255, 255, 0.9);
}

.root-container {
	height: 100vh;
	width: 100wh;
}
