html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.root-container {
	height: 100vh;
	width: 100wh;
}

.root-container-inner {
	width: 1440px;
	height: 1024px;
	margin: 0 auto;
}
