*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.root {
  height: 100%;
  /* background-color: #24292e; */
  background-color: var(--outer-background-color);
}
/* 
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
    src:
      url('../../assets/fonts/Roboto-thin.ttf') format('ttf')
  }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
    src:
      url('../../assets/fonts/Roboto-light.ttf') format('ttf')
  } */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
    src:
      url('../../assets/fonts/Roboto-Regular.ttf') format('ttf')
  }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
    url('../../assets/fonts/Roboto-Medium.ttf') format('ttf')
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src:
    url('../../assets/fonts/Roboto-Bold.ttf') format('ttf')
}

textarea:focus, input:focus {
  outline: none;
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
  /* color: rgba(255, 255, 255, 0.9); */
  font-family: 'Roboto', sans-serif;
}

a:hover {
  color: #fff;
}
a:visited {
  color: #fff;
}

.header-1 {
  font-size: 2.0rem;
  /* color: var(--header-1-color); */
}

.header-2 {
  font-size: 1.6rem;
  /* color: var(--header-1-color); */
}

.header-3 {
  font-size: 1.2rem;
  /* color: var(--header-1-color); */
}

/* Button */

.grey-button {
  height: 24px;
  background: var(--task-list-header-background-color);
  border-radius: 2px;
  width: auto;
  border: 1px solid #000;
  margin-left: 6px;
  padding: 2px 8px;
  cursor: pointer;
}

/* Date Title */

.date-title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #4A4B4F;
}