:root {
  --nav-font-color: #D9E1E8;

  --header-nav-height: 60px;
  --header-nav-background-color: #282C37;

  --side-nav-background-color: #313540;
  --side-nav-width: 200px;

  --view-border-color: #000;
  --view-background-color: #D9E2E7;
  --view-vertical-margin: 30px;
  --view-horizontal-margin: 30px;
}