:root {
  --view-border-color: #000;
  --view-background-color: #fff;
  --accent-color: #C6DBF0;
  --header-nav-background-color: #282C37;
  --side-nav-background-color: #313540;
  --side-nav-width: 200px;
}