:root {
  --nav-font-color: #D9E1E8;

  --header-nav-height: 65px;
  --header-nav-background-color: #282C37;

  --side-nav-background-color: #313540;
  --side-nav-width: 200px;

  --view-border-color: #000;
  --view-background-color: #FFFFFF;
  
  --button-background-color: #418BCA;

  --outer-background-color: #F3F3F4;

  --view-border-radius: 2px;

  /* View Margin */
  --view-vertical-margin: 30px;
  --view-horizontal-margin: 30px;

  /* View Padding */
  --view-top-padding: 20px;
  --view-horizontal-padding: 20px;
  --view-bottom-padding: 30px;

  /* Between Margin */
  --between-view-margin: 15px;

}