@import '../../Root//global.css';

.task {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid var(--view-border-color);
  cursor: pointer;
}

.task-cell {
  flex: 1 1 100%;
}

.task-cell.title {
  text-decoration: underline;
}