@import '../../Root//global.css';

.task {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: var(--task-list-horizontal-padding);
  padding-right: var(--task-list-horizontal-padding);
  border-bottom: var(--view-border);
  cursor: pointer;
}

.task-cell {
  flex: 1 1 100%;
}

.task-cell.title {
  text-decoration: underline;
}