@import '../../Root/variables.css';

/* Parent Container */
.task-view {
  width: 100%;
  border: 1px solid orange;
}

/* Header */

.task-view-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dashboard-border-color);
  padding-left: 20px;
  padding-right: 20px;
}

/* Task List */

.task-view-list {
  overflow-y: scroll;
}