@import '../../Root/variables.css';

/* Parent Container */
.task-view {
  width: 100%;
  border-radius: 4px;
  margin-top: 15px;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 1px solid var(--view-border-color);
  background: var(--view-background-color);
}

/* Header */

.task-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.task-view-header-cta {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

/* Subheader */

.task-view-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Field */

.task-view-field-header {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid var(--view-border-color);
}

.task-view-field {
  flex: 1 1 100%;
  font-weight: 700;
}

/* Task List */

.task-view-list {
  /* height: 500px; */
  /* overflow-y: auto; */
  min-height: 65vh;
}

/* Button */

.task-view-button {
  /* height: 40px; */
  padding: 8px 20px;
  margin-left: 6px;
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  background: var(--button-background-color);
  cursor: pointer;
  color: #fff;
}

.task-view-button:hover {
  background: #fff;
  color: #000;
}