@import '../../Root/variables.css';

/* Parent Container */
.task-view {
  width: 100%;
	border-radius: var(--view-border-radius);
  margin-top: var(--between-view-margin);
  height: 100%;
  padding-top: 20px;
  padding-bottom: 30px;
  background: var(--view-background-color);
  padding-left: var(--view-horizontal-padding);
  padding-right: var(--view-horizontal-padding);
}

/* Header */

.task-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--h1-padding-bottom);
}

.task-view-header-cta {
  display: flex;
  justify-content: flex-end;
}

/* Subheader */

.task-view-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Field */

.task-view-field-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--task-list-header-background-color);
  border: var(--view-border);
  padding-left: var(--task-list-horizontal-padding);
  padding-right: var(--task-list-horizontal-padding);
}

.task-view-field {
  flex: 1 1 100%;
  font-weight: 700;
}

/* Task List */

.task-view-list {
  background-color: var(--task-list-body-background-color);
  border: var(--view-border);
}

/* Button */

.task-view-button {
  /* height: 40px; */
  padding: 8px 20px;
  margin-left: 6px;
  border: 1px solid var(--button-background-color);
  border-radius: 4px;
  background: var(--button-background-color);
  cursor: pointer;
  color: #fff;
}

.task-view-button:hover {
  background: #fff;
  color: #000;
}