@import '../../Root/variables.css';

.task-view {
  height: 100%;
  width: 100%;
  border: 1px solid orange;
  padding-left: 20px;
  padding-right: 20px;
}

.task-view-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--dashboard-border-color);
}