@import '../../Root/variables.css';

/* Parent Container */
.task-view {
  width: 100%;
	border-radius: var(--view-border-radius);
  margin-top: var(--between-view-margin);
  height: 100%;
  padding-top: var(--view-top-padding);
  padding-bottom: var(--view-bottom-padding);
  background: var(--view-background-color);
}

/* Header */

.task-view-header {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--input-border-color);
  margin-bottom: 16px;
  padding-left: var(--view-horizontal-padding);
  padding-right: var(--view-horizontal-padding);
}

.task-view-header-cta {
  display: flex;
  justify-content: flex-end;
}

/* Subheader */

.task-view-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--view-horizontal-padding);
  padding-right: var(--view-horizontal-padding);
  margin-bottom: 16px;
}

.task-view-date-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: #4A4B4F;
}

/* Field */
.task-view-field-header-wrapper {
  padding-left: var(--view-horizontal-padding);
  padding-right: var(--view-horizontal-padding);
}

.task-view-field-header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--task-list-header-background-color);
  border: var(--view-border);
  font-size: 1.2rem;
  color: var(--header-1-color);
}

.task-view-field {
  flex: 1 1 100%;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: var(--view-border);
  padding-left: var(--task-list-horizontal-padding);
}

/* Task List */

.task-view-list {
  background-color: var(--task-list-body-background-color);
  border: var(--view-border);
  font-size: 1.2rem;
  margin-left: var(--view-horizontal-padding);
  margin-right: var(--view-horizontal-padding);
}