@import '../../Root/variables.css';

/* Parent Container */
.task-view {
  border: 1px solid red;
  background: #fff;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  margin-top: 20px;
}

/* Header */

.task-view-header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  /* border-bottom: 1px solid var(--dashboard-border-color); */
}

.task-view-header-cta {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
}

/* Subheader */

.task-view-subheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

/* Field */

.task-view-field-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid var(--dashboard-border-color);
}

.task-view-field {
  flex: 1 1 100%;
  font-weight: 700;
}

/* Task List */

.task-view-list {
}

/* Button */

.task-view-button {
  padding: 6px 10px;
  border: 1px solid #000;
  border-radius: 4px;
  background: transparent;
  cursor: pointer;
}