.calendar-view {
  width: 100%;
  border-radius: 4px;
  height: 65vh;
  padding-top: 20px;
  padding-bottom: 30px;
  border: 1px solid var(--view-border-color);
  background: var(--view-background-color);
}