@import '../../Root/variables.css';

.sidenav {
  position: fixed;
	color: #fff;
  width: var(--side-nav-width);
  height: 100%;
}

.sidenav-container {
  background-color: var(--side-nav-background-color);
  height: 100%;
}

.sidenav-logo {
  height: var(--header-nav-height);
  display: flex;
  background-color: var(--header-nav-background-color);
  justify-content: center;
  align-items: center;
}

/* Logo */

.sidenav-logo a:hover {
  color: #E44B6F;
}

/* Menu Items */

.sidenav-links li {
  height: 60px;
  width: 100%;
}

.sidenav-links li:hover {
  background-color: #E44B6F;
  cursor: pointer;
}

.sidenav-links li  a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 48px;
}

/* Logout ~ Not using <a> */

#logout {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-left: 48px;
}

/* Icon */

.sidenav-icon {
  padding-right: 16px;
  font-size: 1.8rem;
}

/* Text */

.sidenav-text {
  font-weight: 300;
  letter-spacing: 0.4px;
  font-size: 1.2rem;
}