@import '../../Root/variables.css';

.sidenav {
  position: fixed;
	color: #fff;
  width: var(--side-nav-width);
  height: 100%;
}

.sidenav-container {
  background-color: var(--side-nav-background-color);
  height: 100%;
}

.sidenav-logo {
  height: var(--header-nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--header-nav-background-color);
}

.sidenav-logo a:hover {
  color: #E44B6F;
}

.sidenav-link-list {
  /* padding-top: 48px; */
}

.sidenav-link-li {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: #fff;
}

.sidenav-link-li:hover {
  background-color: #E44B6F;
  cursor: pointer;
}

.sidenav-link-li-icon {
  /* padding-right: 16px; */
  font-size: 1.2rem;
}