.nav-container-1 {
  background-color: #24292e;
}

.nav-container-2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1000px;
  height: 140px;
}

.nav-global-logo {
  padding-top: 18px;
  padding-bottom: 18px;
}

.nav-menu {
  margin-left: auto;
}

.nav-menu-list {
  display: flex;
  width: 250px;
  justify-content: space-between;
}

.nav-menu-list-item {
  padding-top: 18px;
  padding-bottom: 18px;
}

.nav-menu-list-item a {
  color: white;
  font-size: 1.3rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.nav-menu-list-item:hover a {
  color: var(--primary-color);
  transition: 0.4s;
}

.nav-global-logo a {
  color: white;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.nav-global-logo:hover a {
  color: var(--primary-color);
  transition: 0.4s;
}

#bordered-nav-link {
  border: 1px solid white;
  border-radius: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
  text-decoration: none;
}

#bordered-nav-link:hover {
  border-color: var(--primary-color);
  transition: 0.4s;
}