.auth-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.auth-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(39,50,64,.6);
  position: absolute;
  top: 0;
  left: 0;
}

.auth-modal-view {
  z-index: 999;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 460px;
  height: 150px;
  border-radius: 4px;
  padding-top: var(--modal-top-padding);
  padding-bottom: var(--modal-bottom-padding);
  border: 1px solid var(--view-border-color);
  background: var(--view-background-color);
}

.auth-modal-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
}

.auth-modal-message {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  font-size: 1.6rem;
}