/* Parent Container */

.date-picker-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.date-picker-modal-container {
  width: 650px;
  height: auto;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--view-background-color);
  border-radius: 4px;
  border: 1px solid var(--view-border-color);
}

/* Overlay */

.date-picker-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

/* Date Picker */

.date-picker {
  width: 100%;
}

.date-picker-container {
  width: 100%;
}

.date-picker-container table {
  width: 100%;
}

.date-picker-month {
  text-align: center;
  width: 100%;
  background: #BD0C25;
  color: #fff;
}

.date-picker-weekdays-header {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  background: skyblue;
}

.date-picker-header-cells {
  height: 50px;
  width: 50px;
  border-left: 1px solid #000;
}

.date-picker-body-cells {
  height: 50px;
  width: 50px;
  border: 1px solid #000;
  background: #fff;
}

.blank {
  background: pink
}

.today {
  border-radius: 50%;
  border: 1px solid blue;
  color: blue;
  font-weight: 700;
  text-decoration: underline;
}