.register-container-1 {
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #24292e;
  width: 360px;
}

.register-container-2 {
  /* border: 1px solid red; */
  padding-top: 18px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 1.4rem;
}


.register-action-container-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.register-action-container-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.register-action-container-2 a {
  color: #000;
}

.register-action-container-2 a:hover {
  color: #000;
  text-decoration: underline;
}

.register-title {
  margin-bottom: 24px;
}

.register-form-label {
  margin-bottom: 6px;
  font-size: 1.5rem;
}

.register-form-input {
  padding: 10px;
  min-height: 44px;
  border-radius: 6px;
  width: 100%;
  border: 1px solid var(--input-border-color);
}

.register-form-button {
  padding: 12px 0;
  border-radius: 6px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  font-weight: 700; 
  cursor: pointer;
}