.calendar-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.calendar-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(39,50,64,.6);
  position: absolute;
  top: 0;
  left: 0;
}

.calendar {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 4px;
  height: auto;
  padding-top: var(--modal-top-padding);
  padding-bottom: var(--modal-bottom-padding);
  border: 1px solid var(--view-border-color);
  background: var(--view-background-color);
}

.selected span {
  color: red;
  font-weight: 700;
}

.current-date span {
  color: #fff;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.calendar-month-label, .calendar-year-label {
  cursor: pointer;
}

.month-list-item {
  cursor: pointer;
}

.month-list-item:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}