.current-date span {
  color: #fff;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.label-month {
  cursor: pointer;
}

.month-list-item {
  cursor: pointer;
}

.month-list-item:hover {
  text-decoration: underline;
  color: var(--secondary-color);
}