@import '../../Root/variables.css';

.header-wrapper {
	margin-left: var(--side-nav-width);
	height: 100%;
	background: var(--outer-background-color);
}

.view-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--view-vertical-margin);
	margin-bottom: var(--view-vertical-margin);;
	margin-left: var(--view-horizontal-margin);;
	margin-right: var(--view-horizontal-margin);;
}