/* Contains Top Header and Main View */

.app-view {
	height: 100%;
	display: flex;
}

/* Contains SideNav and Dashboard View */
.main-view {
	height: 100%;
	width: 100%;
	background: #EDF0F5;
	display: flex;
	flex-direction: column;
}

/* Dashboard View */

.dashboard-view {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}