@import '../../Root/variables.css';

.header-wrapper {
	margin-left: var(--side-nav-width);
	/* background: var(--outer-background-color); */
}

.view-wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--view-vertical-margin);
	margin-left: var(--view-horizontal-margin);
	margin-right: var(--view-horizontal-margin);
	padding-bottom: var(--view-horizontal-margin);
}