@import '../../Root/variables.css';

.dashboard-view {
	margin-top: var(--between-view-margin);
	width: 100%;
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-top-padding);
	padding-bottom: var(--view-bottom-padding);
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}

.dashboard-view-graph-container {

}

/* Header Section */
.dashboard-view-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: var(--h1-padding-bottom);
}

/* Data View */

.data-view-header-top {
	padding-bottom: var(--h1-padding-bottom);
}

.data-view-header-left {
	width: calc(60% - var(--between-view-margin));
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-top-padding);
	padding-bottom: var(--view-top-padding);
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}

.data-view-header-right {
	width: 40%;
	margin-left: auto;
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-top-padding);
	padding-bottom: var(--view-bottom-padding);
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}

.data-view-gauge-container {
	display: flex;
}

/* Data Box */

.data-view-box-container {
	display: flex;
	justify-content: space-between;
}

.data-view-box {
	display: flex;
	flex-direction: column;
}

.data-view-title {
	font-size: 1.4rem;
	font-weight: 600;
}

.data-view-number {
	color: var(--header-1-color);
	font-size: 2.4rem;
	color: var(--secondary-color);
}

.data-view-mini {
	font-size: 1.2rem;
	color: var(--header-1-color);
}

.tasks {
	color: var(--primary-color);
}

.subtasks {
	color: var(--secondary-color);
}

/* Data View */

.data-view {
	display: flex;
	width: 100%;
}