@import '../../Root/variables.css';

.dashboard-view {
	margin-top: var(--between-view-margin);
	width: 100%;
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-padding-top);
	padding-bottom: var(--view-padding-bottom);
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}

.dashboard-view-graph-container {

}

.dashboard-view-header {
	display: flex;
	width: 100%;
}

.dashboard-view-header-left {
	width: calc(60% - var(--between-view-margin));
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-padding-top);
	padding-bottom: var(--view-padding-bottom);
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}

.dashboard-view-header-right {
	width: 40%;
	margin-left: auto;
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-padding-top);
	padding-bottom: var(--view-padding-bottom);
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}