@import '../../Root/variables.css';

.dashboard-view {
	margin-top: var(--between-view-margin);
	width: 100%;
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-top-padding);
	padding-bottom: var(--view-bottom-padding);
}

/* Header Section */
.dashboard-view-header {
	width: 100%;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--input-border-color);
	margin-bottom: 16px;
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}

.dashboard-view-subheader {
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Warning */

.dashboard-view-warning {
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
	font-size: 1.6rem;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Graph Section */
.dashboard-view-graph-container {
	padding-left: 8px;
	padding-right: 8px;
}

/* Buttons list */

.dashboard-view-button-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* margin-right: 24px; */
}

/* Data View */

.data-view-header-top {
	padding-bottom: 8px;
	border-bottom: 1px solid var(--input-border-color);
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
	margin-bottom: 16px;
}

.data-view-header-bottom {
	padding-left: var(--view-horizontal-padding);
	padding-right: var(--view-horizontal-padding);
}

.data-view-header-left {
	width: calc(40% - var(--between-view-margin));
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-top-padding);
	padding-bottom: var(--view-top-padding);
}

.data-view-header-right {
	width: calc(30% - var(--between-view-margin));
	margin-left: auto;
	border-radius: var(--view-border-radius);
	background: var(--view-background-color);

	padding-top: var(--view-top-padding);
	padding-bottom: var(--view-bottom-padding);
}

.data-view-gauge-container {
	display: flex;
}

/* Data Box */

.data-view-box-container {
	display: flex;
	justify-content: space-between;
}

.data-view-box {
	display: flex;
	flex-direction: column;
}

.data-view-title {
	font-size: 1.3rem;
	font-weight: 600;
	color: #4A4B4F;
}

.data-view-number {
	font-size: 2.4rem;
	color: var(--secondary-color);
	margin-top: 20px;
}

.data-view-mini {
	font-size: 1.3rem;
	color: #000;
}

.tasks {
	color: var(--primary-color);
}

.subtasks {
	color: var(--secondary-color);
}

/* Data View */

.data-view {
	display: flex;
	width: 100%;
}