.account-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.account-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(39,50,64,.6);
  position: absolute;
  top: 0;
  left: 0;
}

.account-view {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  border-radius: 4px;
  height: auto;
  padding-top: var(--modal-top-padding);
  padding-bottom: var(--modal-bottom-padding);
  border: 1px solid var(--view-border-color);
  background: var(--view-background-color);
}

.account-view-header {
  border-bottom: 1px solid var(--input-border-color);
  padding-bottom: 8px;
  padding-right: var(--modal-horizontal-padding);
  padding-left: var(--modal-horizontal-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-view-form {
  margin-top: 16px;
  padding-right: var(--modal-horizontal-padding);
  padding-left: var(--modal-horizontal-padding);
}

.account-view-form label {
  font-size: 1.2rem;
  color: var(--font-color);
  font-weight: 600;
  padding-bottom: 8px;
}

.account-view-form input {
  height: 32px;
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  margin-bottom: 32px;
}

.account-view-form input:hover {
  border-color: var(--input-form-hover-color);
}

.account-view-button-container {
  display: flex;
  justify-content: flex-end;
}