@import '../../Root/variables.css';

.date-view {
	border-radius: var(--view-border-radius);
  width: 100%;
  padding-left: var(--view-horizontal-padding);
  padding-right: var(--view-horizontal-padding);
  padding-top: var(--view-top-padding);
  padding-bottom: var(--view-bottom-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--view-background-color);
}