@import '../../Root/variables.css';

.date-view {
  background: var(--view-background-color);
  border-radius: 4px;
  width: 100%;
  border: 1px solid red;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}