.nav {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.nav__global-logo {
}

.nav__menu {
}

.nav__menu__list {
  display: flex;
}

.nav__utility {
  margin-left: auto;
}
