.collection-box {
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  width: 250px;
  height: 100px;
}

.collection-box-container {
  padding: 24px 20px 28px;
  color: rgba(255, 255, 255, 0.9);
}
