/* Parent Container */

.task-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.task-modal-container {
  width: 650px;
  height: auto;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  border-radius: 4px;
}

.task-modal-overflow-container {
  height: 340px;
  overflow-y: scroll;
  scrollbar-color: yellow red;
}

/* Overlay */

.task-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

/* Header */

.task-modal-header {
  height: 60px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 30px;
}

.task-modal-header-form {
  width: 100%;
}

.task-modal-header-form input {
  width: 100%;
  background: #424242;
  color: #fff;
  border: none;
  height: 44px;
}

.task-modal-header-form input:hover {
  border-bottom: 1px solid #fff;
}

.task-modal-header-form input:focus {
  border-bottom: 1px solid #fff;
}

/* Details */

.task-modal-details {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.task-modal-details ol {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.task-modal-details-group-data {
  font-weight: 700;
  padding-left: 6px;
}

.task-modal-details-graph {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* Description */

.task-modal-description {
  padding-left: 20px;
  padding-right: 5px;
}

.task-modal-description-form {
  display: flex;
  flex-direction: column;
}

.task-modal-description-form textarea {
  border-radius: 4px;
  height: 100px;
  background: #424242;
  color: #fff;
  border: 1px solid #fff;
  padding-left: 12px;
  padding-top: 8px;
}

/* Subtask List */

.task-modal-subtask-list {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 5px;
}

.task-modal-subtask-list-mapped {
}

/* Button Container */

.task-modal-button-container {
  display: flex;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.task-modal-button {
  padding: 6px 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  margin-top: 6px;
  margin-left: 12px;
}