.task-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.task-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.task-modal-container {
  width: 550px;
  height: 600px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  border-radius: 4px;
}

/* Header */

.task-modal-header {
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.task-modal-header-form {
  width: 100%;
}

.task-modal-header-form textarea {
  width: 100%;
  border-radius: 4px;
}

/* Description */

.task-modal-description {
  padding-left: 30px;
  padding-right: 30px;
}

.task-modal-description-form {
  display: flex;
  flex-direction: column;
}

.task-modal-description-form label {
  color: white;
}

.task-modal-description-form textarea {
  border-radius: 4px;
  height: 100px;
}

/* Details */

.task-modal-details {
  padding-left: 30px;
  padding-right: 30px;
}

/* Subtask List */
.task-modal-subtask-list {
  padding-left: 30px;
  padding-right: 30px;
}

/* 
.task-modal-content-header {
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
}

.task-modal-content-body {
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.task-modal-content-top-container {
  display: flex;
}

.task-modal-content-bottom-container {
  display: flex;
}

.task-modal-content-graph-container {
  border: 1px solid red;
  flex: 1;
}

.task-modal-content-details-container {
  border: 1px solid blue;
  flex: 1;
}


.task-modal-content-details-row {
  display: flex;
}

.task-modal-content-details-row-left {
  width: 100px;
}

.task-modal-content-details-label {
  font-size: 1.2rem;
  font-weight: 400;
}

.task-modal-content-details-row-right {
  flex: 1 1 auto;
} */
