/* Parent Container */

.task-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


.task-modal-container {
  width: 550px;
  height: 600px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  border-radius: 4px;
}

/* Overlay */

.task-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

/* Header */

.task-modal-header {
  height: 50px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.task-modal-header-form {
  width: 100%;
}

.task-modal-header-form textarea {
  width: 100%;
  border-radius: 4px;
}

/* Description */

.task-modal-description {
  padding-left: 30px;
  padding-right: 30px;
}

.task-modal-description-form {
  display: flex;
  flex-direction: column;
}

.task-modal-description-form label {
  color: white;
}

.task-modal-description-form textarea {
  border-radius: 4px;
  height: 100px;
}

/* Details */

.task-modal-details {
  padding-left: 30px;
  padding-right: 30px;
}

/* Subtask List */
.task-modal-subtask-list {
  padding-left: 30px;
  padding-right: 30px;
}

.task-modal-subtask-list-button {
  padding: 6px;
  border: 1px solid #fff;
  border-radius: 4px;
  background: transparent;
  color: #fff;
  cursor: pointer;
}