.collection-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.collection-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.collection-modal-content {
  width: 900px;
  height: 870px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  border-radius: 4px;
  padding: 20px 24px 24px;
}
