.collection-modal {
  z-index: 990;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.collection-modal-overlay {
  z-index: 995;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}

.collection-modal-content {
  width: 900px;
  height: 870px;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #424242;
  border-radius: 4px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.collection-modal-content-header {
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: space-between;
}

.collection-modal-content-body {
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.collection-modal-content-top-container {
  display: flex;
}

.collection-modal-content-graph-container {
  border: 1px solid red;
  flex: 1;
}

.collection-modal-content-details-container {
  border: 1px solid blue;
  flex: 1;
}
