/* Mobile First */

/* Containers */

.login-container-1 {
  width: 360px;

  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  padding-top: 18px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 1.4rem;
}

/* Action Elements */

.login-action-container-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.login-action-container-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.login-title {
  margin-bottom: 24px;
}

.form-label {
  margin-bottom: 6px;
}

.form-input {
  padding: 10px;
  min-height: 44px;
  border-radius: 6px;
  width: 100%;
}

.form-button {
  padding: 12px 0;
  border-radius: 6px;
  background-color: #2ebc4f;
  border: 1px solid #2ebc4f;
  color: #fff;
  cursor: pointer;
}