.collection {
  background-color: #212121;
  border-radius: 4px;
  height: 100%;
}

.collection-container {
}

.collection-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding: 16px 16px 12px;
}

.collection-box-container {
  padding: 16px 16px 24px;
}

.collection-box-container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 16px;
}

.collection-list-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}
